.posting-container {
    border: var(--border);
    border-radius: var(--border-radius);
    min-height: 275px;
    background-color: var(--white-color);
}


.profile-picture {
    /*border: var(--border);*/
    /*border-radius: var(--border-radius);*/
}

.posting-content {
    width: 100%;
    height: 150px;
    resize: none;
    border: var(--border);
    border-radius: var(--border-radius);

}
