<div id="header-wrapper" class="header sticky-top">
    <div class="row m-0">
        <div class="col-10">
            <button class="btn" routerLink="/">
                <img src="assets/img/logo.png" alt="StudySpace Logo" height="40px" style="margin-top: -20px;"/>
            </button>

            <label id="header-title">StudySpace</label>
        </div>
        <div class="col-2 text-right">
            <button class="header-buttons btn mr-2 text-white" (click)="authService.logoutUser()" title="Ausloggen"
                    type="button">
                <fa-icon class="ml-2 icon-white fa-lg" icon="sign-out-alt"></fa-icon>
            </button>
        </div>
    </div>
</div>

<app-sidebar class="pl-0 d-none d-md-block"></app-sidebar>

<div class="home-content overflow-auto" style="min-height: calc(100vh - 210px)">
    <div class="content pt-4 pb-4">
        <router-outlet></router-outlet>
    </div>
</div>
