<div class="row">
    <div class="col-12">
        <h1 class="home-heading">Dein Feed</h1>
    </div>
</div>
<div class="row">
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
    <app-new-posting class="col-12 col-md-6 col-lg-4"></app-new-posting>
</div>
