/* You can add global styles to this file, and also import other style files */
:root {
    --white-color: #ffffff;
    --white-hover-color: #e1fff0;
    --dark-green-color: #5C806F;
    --light-green-color: #77a691;
    --border: 1px solid #cccccc;
    --border-radius: 5px;
}

.content {
    margin: auto 30px;
}

/*===Header===*/
#header-wrapper {
    background-color: var(--dark-green-color);
    height: 60px;
    width: 100%;
    margin: 0;
}

#header-title {
    font-size: 30px;
    color: var(--white-color);
    padding-top: 5px;
}

.header-buttons {
    margin-top: 12px;
    height: 35px;
}

/*===/Header===*/

.home-heading {
    font-size: 22px;
}


/*===Text===*/
/*=====Colors==*/
.text-white {
    color: var(--white-color);
}

/*=====/Text==*/
/*===/Icons===*/

/*===Icons===*/
/*=====Colors==*/
.icon-white {
    color: var(--white-color);
}

.icon-light-green {
    color: var(--light-green-color);
}

.icon-light-green:hover {
    color: var(--dark-green-color);
}

/*=====/Colors==*/
/*===/Icons===*/
